## Reading in the SOHO / LASCO CME data From File

In [134]:
import pandas as pd
import numpy as np
# Import Catalog of Coronal Mass Ejection Data
# Data is in fixed width file format
data_file = 'SOHO-LASCO_CME_Catelog_univ_all.txt'
colspecs = [(0,10), (12,20), (24,27), (32,34), (37,41), (45,49), (52,56), (59,63), (66,72), (72,73), (76,83), (83,84), (87,94), (94,95), (98,101), (104, 147)]
names = ['Date', 'Time', 'CentralPA', 'Width', 'LinearSpeed', 'Initial', 'Final', '20R', 'Accel', 'AFlag', 'Mass', 'MFlag', 'KineticEnergy', 'KEFlag', 'MPA',
'Remarks']
cme = pd.read_fwf('../data/' + data_file, header=None, names = names, colspecs=colspecs, skiprows=4)
# Create the index as a datetime
cme.index = pd.to_datetime(cme.Date)

cme.head()

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
1996-01-11,1996/01/11,00:14:36,267,18,499,571,426,0,-64.3,*,-------,NaN,-------,NaN,272,Only C3
1996-01-13,1996/01/13,22:08:30,265,16,290,278,303,372,2.8,*,-------,NaN,-------,NaN,266,Only C3
1996-01-15,1996/01/15,07:01:10,262,43,525,600,454,0,-31.1,NaN,-------,NaN,-------,NaN,272,Only C3
1996-01-22,1996/01/22,03:11:01,105,37,267,401,130,0,-126.3,*,7.1e+13,*,2.5e+28,*,103,Very Poor Event; Only C3
1996-01-26,1996/01/26,09:16:19,90,27,262,254,271,322,1.9,*,3.0e+14,NaN,1.0e+29,NaN,90,Poor Event; Only C3

In [102]:
cme.head()

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
1996/01/11,1996/01/11,00:14:36,267,18,499,571,426,0,-64.3,*,-------,NaN,-------,NaN,272,Only C3
1996/01/13,1996/01/13,22:08:30,265,16,290,278,303,372,2.8,*,-------,NaN,-------,NaN,266,Only C3
1996/01/15,1996/01/15,07:01:10,262,43,525,600,454,0,-31.1,NaN,-------,NaN,-------,NaN,272,Only C3
1996/01/22,1996/01/22,03:11:01,105,37,267,401,130,0,-126.3,*,7.1e+13,*,2.5e+28,*,103,Very Poor Event; Only C3
1996/01/26,1996/01/26,09:16:19,90,27,262,254,271,322,1.9,*,3.0e+14,NaN,1.0e+29,NaN,90,Poor Event; Only C3

In [103]:
#cme.convert_objects(convert_numeric=True).dtypes # some columns can be converted 
cols_to_convert_to_float64 = ['CentralPA', 'LinearSpeed', 'Initial', 'Final', '20R', 'Accel', 'Mass', 'KineticEnergy']
for col in cols_to_convert_to_float64:
    cme[col] = pd.to_numeric(cme[col], errors='coerce')
cme.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26408 entries, 1996/01/11 to 2015/09/30
Data columns (total 16 columns):
Date             26408 non-null object
Time             26408 non-null object
CentralPA        25716 non-null float64
Width            26408 non-null int64
LinearSpeed      26300 non-null float64
Initial          25946 non-null float64
Final            25946 non-null float64
20R              25946 non-null float64
Accel            25946 non-null float64
AFlag            20096 non-null object
Mass             16478 non-null float64
MFlag            3116 non-null object
KineticEnergy    16446 non-null float64
KEFlag           3087 non-null object
MPA              26408 non-null int64
Remarks          17819 non-null object
dtypes: float64(8), int64(2), object(6)
memory usage: 3.4+ MB

In [104]:
cme.head()

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
1996/01/11,1996/01/11,00:14:36,267.0,18,499.0,571.0,426.0,0.0,-64.3,*,NaN,NaN,NaN,NaN,272,Only C3
1996/01/13,1996/01/13,22:08:30,265.0,16,290.0,278.0,303.0,372.0,2.8,*,NaN,NaN,NaN,NaN,266,Only C3
1996/01/15,1996/01/15,07:01:10,262.0,43,525.0,600.0,454.0,0.0,-31.1,NaN,NaN,NaN,NaN,NaN,272,Only C3
1996/01/22,1996/01/22,03:11:01,105.0,37,267.0,401.0,130.0,0.0,-126.3,*,7.100000e+13,*,2.500000e+28,*,103,Very Poor Event; Only C3
1996/01/26,1996/01/26,09:16:19,90.0,27,262.0,254.0,271.0,322.0,1.9,*,3.000000e+14,NaN,1.000000e+29,NaN,90,Poor Event; Only C3

In [112]:
cme[(cme.KineticEnergy >= 4.0e+32)]

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
1998/04/20,1998/04/20,10:07:11,284.0,43,1863.0,1663.0,2063.0,1944.0,43.5,*,2.400000e+16,*,4.100000e+32,*,278,The width was changed from 165 to 243 degre
2000/11/25,2000/11/25,01:31:58,NaN,60,2519.0,2528.0,2510.0,2511.0,-5.0,*,1.200000e+16,*,4.000000e+32,*,82,Only 3 points; Only C3
2001/04/03,2001/04/03,03:26:05,108.0,92,1613.0,1694.0,1529.0,1570.0,-16.7,NaN,3.600000e+16,*,4.800000e+32,*,120,Partial Halo
2001/04/15,2001/04/15,14:06:31,245.0,67,1199.0,1385.0,994.0,1064.0,-35.9,*,8.200000e+16,*,5.900000e+32,*,268,Partial Halo
2001/09/24,2001/09/24,10:30:59,NaN,60,2402.0,2234.0,2580.0,2500.0,54.1,NaN,2.200000e+16,*,6.500000e+32,*,142,NaN
2003/10/29,2003/10/29,10:16:53,200.0,14,922.0,717.0,1121.0,1011.0,35.0,*,1.600000e+17,NaN,6.900000e+32,NaN,182,Very Poor Event; Only C3
2003/11/02,2003/11/02,09:30:05,NaN,60,2036.0,2284.0,1773.0,1966.0,-64.2,NaN,4.500000e+16,*,9.300000e+32,*,195,NaN
2003/11/04,2003/11/04,19:54:05,NaN,60,2657.0,2031.0,3284.0,3731.0,434.8,*,1.700000e+16,*,6.100000e+32,*,260,Only 3 points
2004/01/08,2004/01/08,05:06:05,83.0,44,1713.0,1781.0,1643.0,1680.0,-14.6,NaN,2.700000e+16,*,4.000000e+32,*,113,Partial Halo
2004/07/02,2004/07/02,05:00:05,NaN,60,892.0,1003.0,772.0,682.0,-23.9,NaN,1.400000e+17,*,5.700000e+32,*,109,NaN
2004/11/10,2004/11/10,02:26:05,NaN,60,3387.0,3630.0,3142.0,3330.0,-108.0,*,9.500000e+15,*,5.500000e+32,*,302,NaN
2005/01/15,2005/01/15,23:06:50,NaN,60,2861.0,3140.0,2596.0,2759.0,-127.4,*,1.800000e+16,*,7.300000e+32,*,323,NaN
2005/01/17,2005/01/17,09:30:05,NaN,60,2094.0,2465.0,1700.0,1896.0,-118.8,NaN,3.200000e+16,*,7.000000e+32,*,334,NaN
2005/09/05,2005/09/05,09:48:05,NaN,60,2326.0,2242.0,2412.0,2369.0,25.0,NaN,1.800000e+16,*,4.900000e+32,*,107,NaN
2005/09/09,2005/09/09,19:48:05,NaN,60,2257.0,2693.0,1810.0,2054.0,-128.6,NaN,1.600000e+17,*,4.200000e+33,*,115,NaN
2005/09/10,2005/09/10,21:52:07,NaN,60,1893.0,2468.0,1354.0,1507.0,-171.7,NaN,3.900000e+16,*,7.000000e+32,*,120,NaN
2011/06/04,2011/06/04,22:05:02,NaN,60,2425.0,2874.0,1960.0,2281.0,-140.2,NaN,1.700000e+16,*,5.100000e+32,*,300,NaN
2012/01/23,2012/01/23,04:00:05,NaN,60,2175.0,2065.0,2283.0,2216.0,28.0,NaN,2.600000e+16,*,6.200000e+32,*,326,NaN
2012/01/27,2012/01/27,18:27:52,NaN,60,2508.0,1968.0,3090.0,2761.0,165.9,NaN,3.700000e+16,*,1.200000e+33,*,296,NaN
2012/03/07,2012/03/07,00:24:06,NaN,60,2684.0,2982.0,2379.0,2594.0,-88.2,NaN,1.400000e+16,*,5.000000e+32,*,57,NaN
2012/03/13,2012/03/13,17:36:05,NaN,60,1884.0,1706.0,2054.0,1987.0,45.6,NaN,2.300000e+16,*,4.100000e+32,*,286,NaN
2012/05/17,2012/05/17,01:48:05,NaN,60,1582.0,1831.0,1323.0,1473.0,-51.8,NaN,3.600000e+16,*,4.400000e+32,*,261,NaN
2012/07/23,2012/07/23,02:36:05,NaN,60,2003.0,2103.0,1901.0,1972.0,-24.6,NaN,2.300000e+16,*,4.600000e+32,*,286,NaN
2014/02/25,2014/02/25,01:25:50,NaN,60,2147.0,2495.0,1809.0,2069.0,-158.1,NaN,2.200000e+16,*,5.100000e+32,*,73,Only C3

In [122]:
cme.loc['2004/07/21':'2004/07/25']

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
2004/07/21,2004/07/21,06:06:31,165.0,66,419.0,344.0,493.0,622.0,11.4,*,4.300000e+14,NaN,3.800000e+29,NaN,169,NaN
2004/07/22,2004/07/22,01:31:48,184.0,83,492.0,489.0,496.0,496.0,0.3,NaN,2.800000e+15,NaN,3.400000e+30,NaN,180,NaN
2004/07/22,2004/07/22,07:31:49,66.0,51,700.0,677.0,725.0,749.0,4.8,*,1.200000e+15,*,2.900000e+30,*,31,Partial Halo
2004/07/22,2004/07/22,08:30:05,193.0,32,899.0,982.0,809.0,846.0,-12.6,NaN,7.300000e+14,*,2.900000e+30,*,210,Partial Halo
2004/07/22,2004/07/22,11:54:05,189.0,45,574.0,646.0,495.0,365.0,-12.7,NaN,1.600000e+14,NaN,2.600000e+29,NaN,191,NaN
2004/07/22,2004/07/22,23:54:05,194.0,46,448.0,575.0,306.0,0.0,-25.8,*,3.000000e+14,NaN,3.000000e+29,NaN,200,NaN
2004/07/23,2004/07/23,07:31:50,255.0,38,459.0,374.0,545.0,713.0,17.1,NaN,1.500000e+15,*,1.600000e+30,*,218,Partial Halo
2004/07/23,2004/07/23,16:06:06,NaN,60,824.0,920.0,728.0,0.0,-43.9,*,1.200000e+15,*,4.200000e+30,*,278,NaN
2004/07/23,2004/07/23,17:54:23,260.0,42,569.0,619.0,517.0,441.0,-8.1,NaN,3.400000e+15,*,5.500000e+30,*,256,Partial Halo
2004/07/23,2004/07/23,19:31:47,209.0,0,874.0,549.0,1210.0,1121.0,44.2,NaN,5.600000e+15,NaN,2.100000e+31,NaN,187,NaN
2004/07/24,2004/07/24,00:54:05,300.0,37,333.0,169.0,514.0,533.0,11.0,*,2.900000e+15,NaN,1.600000e+30,NaN,298,NaN
2004/07/24,2004/07/24,01:31:51,335.0,15,450.0,487.0,418.0,283.0,-6.9,*,NaN,NaN,NaN,NaN,330,Poor Event
2004/07/24,2004/07/24,01:54:05,96.0,69,182.0,173.0,191.0,281.0,2.0,*,2.800000e+14,NaN,4.600000e+28,NaN,107,NaN
2004/07/24,2004/07/24,11:30:05,107.0,18,413.0,318.0,508.0,740.0,18.7,NaN,NaN,NaN,NaN,NaN,97,NaN
2004/07/24,2004/07/24,22:30:05,298.0,31,233.0,200.0,267.0,595.0,12.9,*,9.800000e+13,*,2.700000e+28,*,297,Only C2
2004/07/24,2004/07/24,23:54:05,217.0,78,555.0,619.0,483.0,468.0,-6.9,NaN,1.600000e+15,NaN,2.400000e+30,NaN,215,NaN
2004/07/25,2004/07/25,06:54:05,297.0,31,299.0,196.0,401.0,712.0,19.4,*,6.200000e+14,NaN,2.800000e+29,NaN,296,Poor Event
2004/07/25,2004/07/25,13:31:52,245.0,16,556.0,613.0,499.0,0.0,-26.2,*,NaN,NaN,NaN,NaN,242,NaN
2004/07/25,2004/07/25,14:30:05,228.0,45,450.0,NaN,NaN,NaN,NaN,NaN,2.400000e+15,*,2.400000e+30,*,229,Only 2 points; Only C2
2004/07/25,2004/07/25,14:54:05,NaN,60,1333.0,1302.0,1366.0,1359.0,7.0,NaN,1.100000e+16,*,9.500000e+31,*,204,NaN

In [119]:
cme.loc['2006/12/1': '2006/12/31']

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
2006/12/10,2006/12/10,13:00:04,287.0,23,155.0,174.0,135.0,0.0,-26.9,*,2.000000e+13,*,2.300000e+27,*,285,Very Poor Event; Only 3 points; Only C2
2006/12/11,2006/12/11,02:00:05,241.0,25,95.0,102.0,87.0,0.0,-1.0,*,8.800000e+13,NaN,4.000000e+27,NaN,239,Very Poor Event; Only C2
2006/12/11,2006/12/11,09:36:04,93.0,51,315.0,205.0,438.0,669.0,16.9,*,2.100000e+14,NaN,1.000000e+29,NaN,81,NaN
2006/12/11,2006/12/11,22:12:04,288.0,82,543.0,562.0,523.0,531.0,-1.4,NaN,2.900000e+15,NaN,4.300000e+30,NaN,281,NaN
2006/12/12,2006/12/12,13:12:04,119.0,8,425.0,520.0,322.0,0.0,-12.8,*,NaN,NaN,NaN,NaN,114,NaN
2006/12/12,2006/12/12,20:28:05,193.0,50,474.0,305.0,643.0,1284.0,64.7,*,1.200000e+14,NaN,1.300000e+29,NaN,198,Poor Event
2006/12/12,2006/12/12,21:47:08,204.0,75,146.0,0.0,271.0,566.0,13.3,*,3.100000e+14,NaN,3.300000e+28,NaN,207,NaN
2006/12/13,2006/12/13,02:54:04,NaN,60,1774.0,1931.0,1622.0,1573.0,-61.4,*,4.700000e+15,*,7.400000e+31,*,193,NaN
2006/12/13,2006/12/13,23:48:24,233.0,40,388.0,407.0,370.0,294.0,-3.3,*,4.700000e+14,NaN,3.600000e+29,NaN,237,NaN
2006/12/14,2006/12/14,02:58:36,65.0,32,434.0,313.0,565.0,540.0,8.0,NaN,1.500000e+15,NaN,1.400000e+30,NaN,70,NaN
2006/12/14,2006/12/14,20:30:04,237.0,16,316.0,377.0,252.0,0.0,-18.6,*,NaN,NaN,NaN,NaN,239,NaN
2006/12/14,2006/12/14,22:30:04,NaN,60,1042.0,1046.0,1039.0,1041.0,-0.4,NaN,7.500000e+15,*,4.100000e+31,*,248,NaN
2006/12/15,2006/12/15,08:30:04,228.0,16,373.0,514.0,217.0,0.0,-21.6,*,NaN,NaN,NaN,NaN,233,NaN
2006/12/16,2006/12/16,05:30:04,242.0,21,314.0,NaN,NaN,NaN,NaN,NaN,4.500000e+13,*,2.200000e+28,*,244,Very Poor Event; Only 2 points; Only C2
2006/12/16,2006/12/16,09:30:13,118.0,39,70.0,0.0,163.0,212.0,1.9,*,6.700000e+14,NaN,1.600000e+28,NaN,108,NaN
2006/12/17,2006/12/17,01:54:04,33.0,6,756.0,356.0,1120.0,2936.0,353.5,*,NaN,NaN,NaN,NaN,40,Poor Event; Only 3 points; Only C2
2006/12/17,2006/12/17,15:30:04,243.0,44,785.0,296.0,1238.0,1680.0,117.5,NaN,1.700000e+15,NaN,5.200000e+30,NaN,244,NaN
2006/12/18,2006/12/18,03:54:04,301.0,5,496.0,633.0,372.0,0.0,-120.8,*,NaN,NaN,NaN,NaN,301,Very Poor Event; Only 3 points; Only C2
2006/12/18,2006/12/18,23:06:04,89.0,18,225.0,85.0,365.0,1544.0,97.3,*,NaN,NaN,NaN,NaN,87,Very Poor Event; Only 3 points; Only C2
2006/12/19,2006/12/19,04:54:04,67.0,44,234.0,139.0,329.0,693.0,19.1,*,2.400000e+14,NaN,6.500000e+28,NaN,74,NaN
2006/12/19,2006/12/19,12:30:04,65.0,62,119.0,0.0,231.0,404.0,7.1,*,5.800000e+14,NaN,4.100000e+28,NaN,59,NaN
2006/12/19,2006/12/19,18:31:57,231.0,13,337.0,245.0,426.0,514.0,9.5,*,NaN,NaN,NaN,NaN,234,NaN
2006/12/20,2006/12/20,13:31:44,119.0,40,136.0,105.0,165.0,302.0,3.4,*,1.700000e+14,NaN,1.600000e+28,NaN,118,NaN
2006/12/20,2006/12/20,16:30:04,291.0,11,512.0,383.0,645.0,1043.0,40.6,*,NaN,NaN,NaN,NaN,287,NaN
2006/12/20,2006/12/20,22:06:04,226.0,5,342.0,399.0,289.0,0.0,-30.4,*,NaN,NaN,NaN,NaN,228,Poor Event; Only 3 points; Only C2
2006/12/21,2006/12/21,22:06:04,24.0,4,314.0,414.0,224.0,0.0,-37.6,*,NaN,NaN,NaN,NaN,29,Very Poor Event; Only 3 points; Only C2
2006/12/22,2006/12/22,00:30:04,230.0,24,231.0,174.0,287.0,748.0,22.3,*,5.100000e+13,*,1.400000e+28,*,234,Only C2
2006/12/23,2006/12/23,07:31:43,101.0,62,76.0,0.0,141.0,238.0,2.4,*,4.900000e+13,NaN,1.400000e+27,NaN,92,Very Poor Event
2006/12/24,2006/12/24,15:30:04,179.0,82,339.0,332.0,346.0,353.0,0.6,NaN,2.000000e+15,*,1.200000e+30,*,181,Partial Halo
2006/12/24,2006/12/24,21:30:07,92.0,48,302.0,418.0,187.0,0.0,-27.6,*,1.900000e+14,NaN,8.600000e+28,NaN,92,NaN
2006/12/25,2006/12/25,06:30:04,102.0,17,231.0,209.0,253.0,500.0,8.6,*,NaN,NaN,NaN,NaN,102,Poor Event; Only C2
2006/12/25,2006/12/25,08:30:05,184.0,3,318.0,251.0,391.0,1242.0,61.8,*,NaN,NaN,NaN,NaN,185,Poor Event; Only 3 points; Only C2
2006/12/25,2006/12/25,10:30:22,106.0,31,251.0,206.0,297.0,451.0,6.8,*,5.400000e+13,*,1.700000e+28,*,101,Poor Event
2006/12/26,2006/12/26,05:54:18,92.0,29,209.0,336.0,83.0,0.0,-67.2,*,3.400000e+12,*,7.300000e+26,*,88,Very Poor Event; Only C2
2006/12/26,2006/12/26,12:54:04,25.0,4,570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,Very Poor Event; Only 2 points; Only C2
2006/12/27,2006/12/27,02:06:04,92.0,40,189.0,198.0,181.0,0.0,-1.7,*,2.800000e+14,NaN,5.000000e+28,NaN,87,Only C2
2006/12/28,2006/12/28,00:30:04,140.0,5,130.0,38.0,218.0,829.0,28.6,*,NaN,NaN,NaN,NaN,139,Very Poor Event; Only C2
2006/12/28,2006/12/28,18:54:05,350.0,9,379.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,345,Very Poor Event; Only 2 points; Only C2
2006/12/29,2006/12/29,21:08:03,267.0,73,236.0,102.0,369.0,317.0,3.7,NaN,7.300000e+15,NaN,2.000000e+30,NaN,269,NaN
2006/12/30,2006/12/30,03:54:07,267.0,67,249.0,213.0,289.0,427.0,5.7,*,5.500000e+14,NaN,1.700000e+29,NaN,275,NaN
2006/12/30,2006/12/30,18:30:04,253.0,43,142.0,0.0,332.0,384.0,6.2,*,2.200000e+15,NaN,2.200000e+29,NaN,250,NaN
2006/12/30,2006/12/30,20:30:04,34.0,2,434.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,Poor Event; Only 2 points; Only C2
2006/12/31,2006/12/31,20:30:04,80.0,29,138.0,76.0,204.0,555.0,12.4,*,1.900000e+13,NaN,1.800000e+27,NaN,78,Very Poor Event; Only C2

In [121]:
cme.loc['2000/07/14'] #Bastille Day Event

,Date,Time,CentralPA,Width,LinearSpeed,Initial,Final,20R,Accel,AFlag,Mass,MFlag,KineticEnergy,KEFlag,MPA,Remarks
Date,,,,,,,,,,,,,,,,
2000/07/14,2000/07/14,00:54:05,87.0,38,532.0,353.0,727.0,772.0,19.2,NaN,1.900000e+15,NaN,2.700000e+30,NaN,88,NaN
2000/07/14,2000/07/14,01:31:55,221.0,35,251.0,125.0,373.0,1095.0,50.4,*,5.400000e+14,NaN,1.700000e+29,NaN,223,Poor Event; Only C2
2000/07/14,2000/07/14,02:30:05,12.0,33,662.0,660.0,663.0,664.0,0.2,NaN,4.400000e+14,NaN,9.700000e+29,NaN,14,NaN
2000/07/14,2000/07/14,04:06:05,265.0,6,416.0,595.0,225.0,0.0,-45.9,*,NaN,NaN,NaN,NaN,267,NaN
2000/07/14,2000/07/14,10:54:07,NaN,60,1674.0,1815.0,1534.0,1147.0,-96.1,*,1.400000e+16,*,1.900000e+32,*,273,Only 3 points

In [ ]:
#october 28 2003 nine day period of storms
# december 5 2006
# august 4 1972
# september 1, 1859

Lastly, suppose we just wanted to reuse the exact index from the original DataFrame:

In [11]: result = pd.concat([df1, df4], axis=1, join_axes=[df1.index])

In [130]:
cme.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26408 entries, 1996/01/11 to 2015/09/30
Data columns (total 19 columns):
Date             26408 non-null object
Time             26408 non-null object
CentralPA        26408 non-null object
Width            26408 non-null int64
LinearSpeed      26408 non-null object
Initial          26408 non-null object
Final            26408 non-null object
20R              26408 non-null object
Accel            26408 non-null object
AFlag            20096 non-null object
Mass             26408 non-null object
MFlag            3116 non-null object
KineticEnergy    26408 non-null object
KEFlag           3087 non-null object
MPA              26408 non-null int64
Remarks          17819 non-null object
Year             26408 non-null int32
Month            26408 non-null int32
Day              26408 non-null int32
dtypes: int32(3), int64(2), object(14)
memory usage: 3.7+ MB